{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Random Content Page</title>#}
{#</head>#}
{#<body>#}

{#<section>#}
{#    <p>{{ randomParagraph }}</p>#}
{#</section>#}

{#<footer>#}
{#    <p>&copy; {{ currentYear }} My Drupal Site</p>#}
{#</footer>#}

{#</body>#}
{#</html>#}

<p>hello from twig file</p>

<header>
    <h1>{{ header }}</h1>
</header>