<p>This is my first theme hook</p>
{% if name %}
   <p> Name : {{ name }} </p>
{% endif %}
{% if age %}
    <p> Age : {{ age }} </p>
{% endif %}
{% if location %}
    <p> Location : {{ location }} </p>
{% endif %}
